:root {
  --clr-purple900: #3b1e54;
  --clr-purple700: #582d7e;
  --clr-purple500: #9b7ebd;
  --clr-purple300: #9b7ebd;
  --clr-purple100: #e8ddf6;
  --clr-white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

/* =============== TABEL =============== */

.table_container {
  height: 70vh;
  overflow-y: auto;
  width: 80%;
  margin: auto;
  border-radius: 0.6rem;
  backdrop-filter: blur(5px);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: var(--clr-purple900);
  color: white;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: var(--clr-purple100);
}

tbody tr:nth-child(even) {
  background-color: #a765940b;
}

td {
  padding: 1rem;
  text-align: left;
}

.table_container::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table_container::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table_container:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

#countries_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.8rem;
}

/* =============== MODALA BUBBLE CHART =============== */

.modal_bubble_chart {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 30vh;
  left: 40vw;
  z-index: 99999;
  gap: 1.2rem;
  height: fit-content;
  width: 20vw;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid var(--clr-purple300);
  background: var(--clr-white);
  backdrop-filter: blur(20px);
}

.modal_bubble_chart > h2 {
  font-size: 1em;
  padding-top: 1.5rem;
}

.modal_bubble_chart > i {
  position: absolute;
  cursor: pointer;
  align-self: flex-end;
}

.wrapper_an_bubble {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  label {
    font-size: 0.8em;
  }
}

.wrapper_bubble_chart {
  position: relative;
  width: fit-content;
}

.wrapper_body {
  position: relative;
  z-index: 10;
}

.blured_bg {
  filter: blur(5px);
  background-color: #3b1e5445;
  transition: filter 0.3ms ease-in-out;
  pointer-events: none;
  user-select: none;
}

/* =============== GRAFIC BUBBLE CHART =============== */

.wrapper_bubble_chart {
  display: none;
}

.bubble_chart {
  width: 50vw;
  height: 50vh;
  border: 2px solid red;
}
